# Mastodon app
INSTANCE="https://mastodon.social"
APP_NAME="Your app name"
HASHTAG="Yourhashtag"
SECRET="secret"

# Uptime Robot
UPTIME_ROBOT_API_KEY="uptimerobotsecret"

# If you want to use custom images, set IMAGE to true and set the path to the image in PATH_UP and PATH_DOWN
IMAGE="true"
PATH_UP="img/up.png"
PATH_DOWN="img/down.png"

# App config
PORT="1035"
DEBUG="false" # Only set this to true if you know what you are doing: This will instantly trigger a downtime post if the app is started